@{
    ViewData["Title"] = "Nurse Lavinia's Care Home";
}

<div class="container">
    <div class="row">
        <img src="~/images/house.jpg" class="img-responsive">
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="leftHeader">
                    <p>Our Advantage</p>
                </div>
            </div>
            <div class="row">
                <div class="leftText">
                    <ul>
                        <li>
                            Nurse Lavinia's Care Home takes pride in having a very small family: 
                            Our maximum capacity is 4 residents, giving a registered nurse to resident ratio of 1:4.
                        </li>
                        <li>
                            Nurse Lavinia's is owned and operated by an on-site RN. Having an RN caregiver means that many of 
                            the skilled nursing services typically only provided in nursing homes or by visiting nurse agencies, 
                            can now be provided to you at much lower cost and in a comfortable home-like setting. Skilled nursing 
                            services are often better provided by a skilled nurse, rather than delegated to a nursing assistant or 
                            aide, due to the higher level of training and accountability required of an RN. 
                        </li>
                        <li>
                            Even for residents with relatively stable conditions, having RN oversight can mean a great difference 
                            in terms of noticing changes in condition early. Moreover, if changes in a resident’s condition do occur
                             that require more complex care, this transition can be addressed in the home without requiring the resident
                              to move. 
                        </li>
                        <li>
                            Nurse Lavinia's Care Home is located in a quiet and safe neighborhood of Tacoma, less than five minutes away 
                            from Allenmore hospital, Morgan Family YMCA, and many places of worship. 
                        </li>
                        <li>
                            The home has been remodeled with resident comfort and safety in mind. There is wheelchair accessibility 
                            with handicap assistive devices in the bathroom, and a call bell system in resident rooms. Rooms come 
                            pre-furnished, but of course residents are welcome to bring own furniture. 
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-sm-offset-1">
            <div class="row">
                <div class="rightHeader">
                    <p>
                         Nurse Lavinia's Care Home is owned and operated by a registed nurse. In addition to services typically 
                         offered in adult family homes, we provide:
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="rightText">
                    <table cellspacing="2" cellpadding="2" border="0" width="100%" class="table">
                        <tbody>
                            <tr>
					            <td>
                                    <img src="~/images/reddot.svg">
                                </td>
					            <td>
						            Medication administration
					            </td>
				            </tr>
				            <tr>
					            <td>
                                    <img src="~/images/reddot.svg">
                                </td>
                                <td>
						            Tube feeding
					            </td>
				            </tr>
                            <tr>
					            <td>
                                    <img src="~/images/reddot.svg">
                                </td>
					            <td>
						            Ostomy and wound care
					            </td>
				            </tr>
				            <tr>
					            <td>
                                    <img src="~/images/reddot.svg">
                                </td>
					            <td>
						            Urinary catheter care
					            </td>
				            </tr>
				            <tr>
					            <td>
                                    <img src="~/images/reddot.svg">
                                </td>
					            <td>
						            Diabetic care 
					            </td>
				            </tr>
				            <tr>
					            <td>
                                    <img src="~/images/reddot.svg">
                                </td>
					            <td>
						            Nebulizer/breathing treatments
					            </td>
				             </tr>
				            <tr>
					            <td>
                                    <img src="~/images/reddot.svg">
                                </td>
					            <td>
						            Oxygen management
					            </td>
				            </tr>
				            <tr>
					            <td>
                                    <img src="~/images/reddot.svg">
                                </td>
					            <td>
						            Geriatric Registered Dietician On-call
					            </td>
				            </tr>
                        </tbody>
				    </table>
                </div>
            </div>
        </div>
    </div>
</div>