@{
    ViewData["Title"] = "Nurse Lavinia's Care Home";
}

<div class="container">
    <div class="row">
        img
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="row">
                <div class="leftHeader">
                    <p>
                         Nurse Lavinia's Care Home is owned and operated by a registed nurse. In addition to services typically 
                         offered in adult family homes, we provide:
                    </p>
                </div>
            </div>
            <div class="row">
                
            </div>
        </div>
        <div class="col-sm-6 col-sm-offset-1">
            <div class="row">
                <div class="rightHeader">
                    <p>Welcome to Nurse Lavinia's Adult Family Home</p>
                </div>
            </div>
            <div class="row">
                <div class="rightText">
                 <p>
                     The Adult Family Home care model offers a non-institutional, small care environment with an average resident 
                     to caregiver ratio of 6:1. Smaller care environments often translate to better care, as caregivers are allowed 
                     more time to focus on individual needs, pay attention to detail and tend not only to the physical needs of a 
                     client, but his emotional and spiritual needs as well.
                </p>
                <br>
                <p>This is a more comfortable situation for everyone: from the caregiver’s perspective, 
                    he or she can really get to know a resident’s baseline condition and the resident benefits from having a familiar 
                    caregiver that is knowledgeable and responsive to his needs.</p> 
                </div>
            </div> 
        </div>
    </div>
</div>