@{
    ViewData["Title"] = "Nurse Lavinia's Care Home";
}

<div class="container">
    <div class="row">
        <img src="~/images/house.jpg" class="img-responsive">
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="leftHeader">
                    <p>Our Advantage</p>
                </div>
            </div>
            <div class="row">
                <div class="leftText">
                    
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-sm-offset-1">
            <div class="row">
                <div class="rightHeader">
                    <p>
                         Nurse Lavinia's Care Home is owned and operated by a registed nurse. In addition to services typically 
                         offered in adult family homes, we provide:
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="rightText">
                    <table cellspacing="2" cellpadding="2" border="0" width="100%" class="table">
                        <tbody>
                            <tr>
					            <td>
                                    <img src="~/images/reddot.svg">
                                </td>
					            <td>
						            Medication administration
					            </td>
				            </tr>
				            <tr>
					            <td>
                                    <img src="~/images/reddot.svg">
                                </td>
                                <td>
						            Tube feeding
					            </td>
				            </tr>
                            <tr>
					            <td>
                                    <img src="~/images/reddot.svg">
                                </td>
					            <td>
						            Ostomy and wound care
					            </td>
				            </tr>
				            <tr>
					            <td>
                                    <img src="~/images/reddot.svg">
                                </td>
					            <td>
						            Urinary catheter care
					            </td>
				            </tr>
				            <tr>
					            <td>
                                    <img src="~/images/reddot.svg">
                                </td>
					            <td>
						            Diabetic care 
					            </td>
				            </tr>
				            <tr>
					            <td>
                                    <img src="~/images/reddot.svg">
                                </td>
					            <td>
						            Nebulizer/breathing treatments
					            </td>
				             </tr>
				            <tr>
					            <td>
                                    <img src="~/images/reddot.svg">
                                </td>
					            <td>
						            Oxygen management
					            </td>
				            </tr>
				            <tr>
					            <td>
                                    <img src="~/images/reddot.svg">
                                </td>
					            <td>
						            Geriatric Registered Dietician On-call
					            </td>
				            </tr>
                        </tbody>
				    </table>
                </div>
            </div>
        </div>
    </div>
</div>